<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qxy.codeerror">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!--允许查询抖音和抖音极速版的软件包信息-->
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.aweme.lite" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/common_ic_tiktok"
        android:label="@string/app_name"
        android:roundIcon="@drawable/common_ic_tiktok"
        android:supportsRtl="true"
        android:theme="@style/Theme.DouyinQxy"
        tools:targetApi="31">
        <activity
            android:name="com.qxy.codeerror.douyinapi.DouYinEntryActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.qxy.codeerror"
            android:exported="true">
        </activity>
    </application>

</manifest>