<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qxy.lib.account">

    <application>
        <activity
            android:name="com.qxy.lib.account.douyinapi.DouYinEntryActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.qxy.codeerror"
            android:exported="true">
        </activity>
    </application>

</manifest>